<div class="container">
    <mat-card>
        <mat-card-title>User Login</mat-card-title>
        <mat-card-content>
        <form [formGroup]="form" class="login_form" (ngSubmit)="loginAuth()">
            <mat-form-field>
            <input type="email" matInput placeholder="Username" formControlName="username">
            </mat-form-field>

            <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-error>
                <span *ngIf="(form.get('username')?.hasError('required') || form.get('username')?.hasError('email')) && (form.get('username')?.dirty || form.get('username')?.touched)">Please Enter Valid Username</span><br>
                <span *ngIf="form.get('password')?.hasError('required') && (form.get('password')?.dirty || form.get('password')?.touched)">Please Enter Valid Password</span>
                <span *ngIf="((form.get('password')?.hasError('minlength')) || (form.get('password')?.hasError('maxlength'))) && (form.get('password')?.dirty || form.get('password')?.touched)">Password must be minLength 6 & maxLength 10</span>
            </mat-error>
        <div class="button">
            <button mat-raised-button color="primary" type="submit" mat-button>Login</button>
        </div>

        </form>
    </mat-card-content>
    </mat-card>
</div>