.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  /* login form style */
  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .login_form .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .login-form-card {
    max-width: 400px;
    margin: 0 auto;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
